<div class="post">
  <p class="post-title">About</p>
  <p class="post-content">
    I'm Rupert Saxton, author and developer of this site.
    My background is in robotics and I currently work as a software developer.
    I have significant experience as a back-end developer working on Ruby on Rails applications but I like to play around with front-end work in my own time.
    Personal software interests include databases and security.
  </p>
  <p class="post-content">
    Prior to being a software developer I worked as a barista in the specialty coffee industry.
    I still love to make coffee and pour latte art as frequently as I can.
    Other interests include rock climbing and surfing, though surfing has been put on hold while I live in the Midwest.
  </p>
</div>
