#title {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 45px;
  color: #2C6A38;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  > * {
    width: 50%;
    margin: auto;
  }
}

.content {
  flex: 1;
}

.navbar {
  display: flex;
  > * {
    flex: 1 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #8C8E8C;
}

body {
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

p, textarea, input {
  color: #646664
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  min-height: 2em;
  line-height: 2em;
}

label {
  flex: 2;
  color: #2C6A38;
  text-align: center;
}

textarea {
  min-height: 30em;
  line-height: 1.6em;
}

textarea, input[type="text"] {
  flex: 10;
  border: 1px solid #51845b;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}
