#content-wrapper {
  width: 50%;
  margin: 0 auto;
}

.post {
  padding: 0 10px 20px;
}

.post-title {
  font-size: 40px;
  margin: 20px 0;
  color: #2C6A38;
}

.post-content {
  line-height: 1.6em;
}
