<div class="footer">
    <%= link_to 'Home', root_path %>
    <%= link_to 'Archive', posts_path %>
    <%= link_to 'About', about_path %>
    <a href="https://github.com/RupertJohn/blog">Blog Code</a>
    <a href="https://github.com/RupertJohn">Github</a>
    <a href="https://www.linkedin.com/in/rupert-saxton-1990">LinkedIn</a>
</div>
